<div class="DemoGrid topo" xmlns="http://www.w3.org/1999/html">
    <button class="btn btn-success" style="width:150px;" ng-click="salvar()" >
        <i class="glyphicon glyphicon-ok" ></i> Salvar
    </button>
</div>

<div class="clear" style="height: 70px;" ></div>

<div class="push-20 grid-60 DemoGrid" >
  <div class="grid-100 grid-parent" >
    <div class="grid-25" >C&oacute;d Barras</div>
    <div class="grid-50" >Nome</div>
    <div class="grid-25" >Categoria  
      <button class="btn btn-success" style="width: 22px;height: 25px;padding: 2px 0px;" ng-click="Categorias.Modal.open()" >
        <i class="fa fa-plus btn-success"></i>
      </button>
    </div>
  </div>

  <div class="grid-100 grid-parent" >
    <div class="grid-25" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.codigoBarras" />
    </div>
    <div class="grid-50" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.nome" />
    </div>
    <div class="grid-25" >
      
      <ui-select ng-model="Produto.produto.categoria"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false"
             style="width: 100%;">
        <ui-select-match placeholder="Categoria">{{$select.selected.nome}}</ui-select-match>
        <ui-select-choices repeat="cat in Categorias.list">
          <div ng-bind-html="cat.nome | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

    </div>
  </div>

  <div clas="clear" style="height: 20px;;" ></div>

  <div class="grid-100 grid-parent">
    <div class="grid-25" >Pre&ccedil;o Entrada</div>
    <div class="grid-25" >Pre&ccedil;o Sa&iacute;da</div>
    <div class="grid-25" >Quantidade</div>
    <div class="grid-25" >Estoque M&iacute;nimo</div>
  </div>

  <div class="grid-100 grid-parent" >
    <div class="grid-25" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.precoEntrada" />
    </div>
    <div class="grid-25" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.precoSaida" />
    </div>
    <div class="grid-25" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.quantidade" />
    </div>
    <div class="grid-25" >
      <input type="text" class="form-control" style="width:100%" ng-model="Produto.produto.estoqueMinimo" />
    </div>
  </div>

  <div clas="clear" style="height: 20px;;" ></div>

  <div class="grid-100 grid-parent" >
    <div class="grid-100" >
      Descri&ccedil;&atilde;o
    </div>
    <div class="grid-100" >
      <textarea style="width:100%" ng-model="Produto.produto.descricao" ></textarea>
    </div>
  </div>

</div>



<div id='categoriaCadastro' ng-show="Categorias.Modal.show" >

  <div ng-repeat="cat in Categorias.list" >
    <input type="text" class="form-control" ng-model="cat.nome" ng-blur="Categorias.alterar(cat)" >
  </div>
  <br><br>
  <input placeholder="Nova Categoria" type="text" class="form-control" ng-model="Categorias.novaCategoria.nome" style="display: inline;width: 414px;" >
  <button ng-click="Categorias.cadastrar()" class="btn btn-success">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</div>
