<div class="DemoGrid topo">
    <button class="btn btn-success" style="width:150px;" ng-click="salvar()" >
        <i class="glyphicon glyphicon-ok" ></i> Salvar
    </button>
</div>

<div class="clear" style="height: 70px;" ></div>

<div class="push-20 grid-60 DemoGrid" >
    <tabset type="pills" justified="true" >
       <tab>
           <tab-heading>
             <i class="glyphicon glyphicon-user"></i> Dados
           </tab-heading>
           <table id="cliCadastro1" class="cadastro">
               <tr>
               <td>Nome*</td> <td><input type='text' size="60" ng-model="Cliente.cliente.Nome"  /></td>
               </tr>
               <tr>
               <td>Sexo*</td> <td><input type='radio' ng-model='Cliente.cliente.Sexo' value='M'/>Masculino <input type='radio' ng-model='Cliente.cliente.Sexo' value='F' />Feminino</td>
               </tr>
               <tr>
               <td>Anivers&aacute;rio:</td> <td><input id='clienteAniversario' type='date' ng-model="Cliente.cliente.Aniversario" /></td>
               </tr>
               <tr>
               <td>Anota&ccedil;&atilde;o:</td> <td><textarea rows="6" cols="60" ng-model="Cliente.cliente.Anotacao" ></textarea></td>
               </tr>
               <tr ng-show="Cliente.cliente.ID" >
                   <td colspan="2"><input type='checkbox' ng-model="Cliente.cliente.Ativo" />Ativo</td>
               </tr>
           </table>
       </tab>
       <tab>
           <tab-heading>
             <i class="glyphicon glyphicon-earphone"></i> Contato
           </tab-heading>
           <table id="cliCadastro2" class="cadastro">
               <th colspan='5'>Telefone</th>
               <tr ng-repeat='tel in Cliente.cliente.Contato' ng-show='tel.Categoria=="Telefone"'>
                   <td colspan='2'>{{tel.Tipo.hasOwnProperty('Value') ? tel.Tipo.Value : tel.Tipo}}</td>
                   <td colspan='2'>{{tel.Contato}}</td>
                   <td>
                       <button ng-click="apagarContato($index)" class="btn btn-danger btn-xs">
                           <i class="glyphicon glyphicon-remove"></i>
                       </button>
                   </td>
               </tr>
               <tr>
               <tr style="height:20px;"><td colspan='5'></td></tr>
               <td>Tipo</td>
               <td><select ng-model='telefone.Tipo' ng-options='t.Value for t in tipoTelefone' ng-init='telefone.Tipo=tipoTelefone[0]'></select></td>
               <td>N&uacute;mero:</td>
               <td><input size="33" type='tel' ng-model='telefone.Contato' maxlength="15" onkeydown="Utils.Mascaras.numerosTeclado();" onkeyup='this.value=Utils.Mascaras.addTel(this.value);' /></td>
               <td>
                   <button ng-click="novoContato('Telefone')" class="btn btn-success btn-xs">
                       <i class="glyphicon glyphicon-plus"></i>
                   </button>
               </td>
               </tr>
               <tr style="height:25px;"><td colspan='5'><hr style="border: solid 1px #ccc;"></td></tr>
               <th colspan='5'>E-mail</th>
               <tr ng-repeat='ema in Cliente.cliente.Contato' ng-show='ema.Categoria=="Email"'>
                   <td colspan='2'>{{ema.Tipo.hasOwnProperty('Value') ? ema.Tipo.Value:ema.Tipo}}</td>
                   <td colspan='2'>{{ema.Contato}}</td>
                   <td>
                       <button ng-click="apagarContato($index)" class="btn btn-danger btn-xs">
                           <i class="glyphicon glyphicon-remove"></i>
                       </button>
                   </td>
               </tr>
               <tr>
               <tr style="height:20px;"><td colspan='5'></td></tr>
               <td>Tipo</td>
               <td><select ng-model='email.Tipo' ng-options='t.Value for t in tipoEmail' ng-init='email.Tipo=tipoEmail[0]'></select></td>
               <td>Endere&ccedil;o:</td>
               <td><input size="33" type='email' ng-model="email.Contato" /></td>
               <td>
                   <button ng-click="novoContato('Email')" class="btn btn-success btn-xs">
                       <i class="glyphicon glyphicon-plus"></i>
                   </button>
               </td>
               </tr>
           </table>
       </tab>
       <tab>
           <tab-heading>
               <i class="glyphicon glyphicon-home"></i> Endere&ccedil;o
           </tab-heading>
           <table id="cliCadastro3" class="cadastro">
               <tr>
                   <td>Logradouro*</td>
                   <td><select ng-model='Cliente.cliente.Endereco.TipoLogradouro' ng-options='l.Value for l in tipoLogradouro'></select></td>
                   <td colspan='2'><input type='text' style="width:100%;" ng-model="Cliente.cliente.Endereco.Logradouro" tooltip="{{Cliente.cliente.Endereco.TipoLogradouro.Value}}" tooltip-trigger="focus" tooltip-placement="right" /></td>
               </tr>
               <tr>
                   <td>N&uacute;mero*</td>
                   <td><input type='text' ng-model="Cliente.cliente.Endereco.Numero" /> </td>
                   <td>Complemento</td>
                   <td><input type='text' style="width:100%;" ng-model="Cliente.cliente.Endereco.Complemento" /></td>
               </tr>
               <tr>
                   <td>Zona</td>
                   <td><input type='radio' ng-model='Cliente.cliente.Endereco.Zona' value='urbana' />Urbana <input type='radio' ng-model='Cliente.cliente.Endereco.Zona' value='rural' />Rural</td>
                   <td>CEP</td>
                   <td><input type='text' ng-model="Cliente.cliente.Endereco.CEP" /></td>
               </tr>
               <tr>
                   <td>Bairro*</td>
                   <td colspan='3'><input type='text' ng-model='Cliente.cliente.Endereco.Bairro' /></td>
               </tr>
               <tr>
                   <td>Estado*</td>
                   <td><select ng-model="Cliente.cliente.Endereco.Estado" ng-change="retornarCidades();" ng-options="e.Value for e in estados"></select></td>
                   <td>Cidade*</td>
                   <td><select ng-model="Cliente.cliente.Endereco.Cidade" ng-options="c.Value for c in cidades"></select></td>
               </tr>
               <tr>
                   <td>Coordenadas</td>
                   <td><input type='text' ng-model="Cliente.cliente.Endereco.Coordenadas" readonly="readonly" /></td>
                   <td colspan="2"><input type='button' id='clienteGerarCoordenadas' ng-click="gerarCoordenadas()" value="Gerar Coordenadas" ng-show="Cliente.cliente.ID" /></td>
               </tr>
               <tr>
                   <td>Refer&ecirc;ncia</td>
                   <td colspan="3"><textarea rows="2" style="width:100%;" ng-model="Cliente.cliente.Endereco.Referencia"></textarea></td>
               </tr>
           </table>
       </tab>
   </tabset>   
</div>



